# Firebase Configuration - Staging
NEXT_PUBLIC_SITE_URL=https://hocapp-staging-44760.web.app
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDM8U_RIBzP9jtqHpouFYhWrcs86QsBs3w
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=hocapp-staging-44760.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=hocapp-staging-44760
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=hocapp-staging-44760.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=702035606505
NEXT_PUBLIC_FIREBASE_APP_ID=1:702035606505:web:0a1852f1698c9273b1a978

# Authorized admin email
NEXT_PUBLIC_ADMIN_EMAIL=fsalamoni@gmail.com